# Erlang/Rebar3
/_build
rebar.lock
erl_crash.dump
ebin/*.beam

# NIF compilation
c_src/obj/
priv/
*.so
*.dylib
*.dll
*.o

# Documentation
/doc/

# macOS
.DS_Store
.idea
*.log
tmp/

.ccls-cache/
*.beam
*.dump
compile_commands.json
